/* Navigation Bar */
#production-link {
  visibility: hidden;
}
#ecology-link {
  visibility: hidden;
}
#people-link {
  visibility: hidden;
}



/* ----------------------------Content         */


html {
  background: url("../images/slide1.jpg") no-repeat center center;
}




/* slider navigation */
.imageNavigation {
  position: absolute;
  top: 80%;
  right: 15%;
}
.slideNav {
  display: inline-block;
  padding: 0 15px 0 15px;
}
.slideNav:hover {
  border-radius: 10px;
  background-color: #fbf6f0;
  opacity: 0.8;
  text-shadow: 2px 0 0 #ffe05d, -2px 0 0 #ffe05d, 0 2px 0 #ffe05d, 0 -2px 0 #ffe05d, 1px 1px #ffe05d, -1px -1px 0 #ffe05d, 1px -1px 0 #ffe05d, -1px 1px 0 #ffe05d;
}
.slideNavBtn {
  font-size: 4rem;

  display: inline-block;
  position: relative;
  top: 12px;
}
.slideNavText {
  font-size: 2rem;

  display: inline-block;
  visibility: hidden;
}
